@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;800&family=Ubuntu:wght@400;700&display=swap");

body {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

.navbar {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 20px 0px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

.heading-content {
  position: absolute;
  top: 50%;
  width: 100%;
  max-width: 100%;
}

.heading-content h2 {
  font-size: 4em;
  font-weight: 300;
  color: white;
  font-family: monospace;
}

.heading-content h1 {
  font-size: 5em;
  font-weight: 400;
  color: white;
  font-family: monospace;
}

.heading-content p {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: lighter;
  color: #ccc;
  font-family: monospace;
  word-spacing: 5px;
  letter-spacing: 2px;
}

/* projects */

#github .button {
  border: 2px solid transparent;
  width: 40%;
  padding: 15px 22px;
  background: #000;
  border-radius: 5px;
  margin-top: 10px;
}

#github .button a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

#github .button:hover {
  border: 2px solid #1ebba3;
  cursor: pointer;
}
